.configurator-body {
  background-image: url('../../public/config-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hide-caret{
  caret-color: transparent;
}

.rbt-aux {
  position: absolute;
  right: 6px;
  top: 8px;
}
.rbt-close-content {
  visibility: hidden;
}

.card {
  border-radius: 0;
  background-color: rgba(245, 245, 245, 0.9);
}
.card-header, .card-footer { opacity: 1}

.responsive-part-name {
  font-size: 24px;
}
@media (min-width: 992px) {
  .responsive-part-name {
    font-size: 16px;
  }
}
