.configurator-body {
  background-image: url('../../public/config-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hide-caret{
  caret-color: transparent;
}

.custom-selected {
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Allow word wrapping */
  max-width: 200px; /* Limit the width of the selected item */
}

.custom-button{
  height: 50px;
}

.configurator-icon {
  width: 50px;
  aspect-ratio: 1/1;
}

.rbt-aux {
  position: absolute;
  right: 6px;
  top: 8px;
}
.rbt-close-content {
  visibility: hidden;
}

.card {
  border-radius: 0;
  background-color: rgba(245, 245, 245, 0.9);
}
.card-header, .card-footer { opacity: 1}
