.configurator-body {
  background-color: #2779e2;
}

.hide-caret{
  caret-color: transparent;
}

.rbt-aux {
  position: absolute;
  right: 6px;
  top: 8px;
}
.rbt-close-content {
  visibility: hidden;
}
