.home{
    height: auto;
    width: calc(100vw - 17px);
    margin: 0;
}
.top-greeter{
    background-image:url("/public/greeter-background-mobile.jpg");
    min-width: calc(100vw - 17px);
    height: auto;
    max-height: 530px;
    background-size: cover;
    background-repeat: no-repeat;

}

body{
    overflow-x: hidden;
}

.fixed-height-card{
    min-height: calc(100vh - 58px - 300px) !important;
}

@media (min-width: 993px ) {
    .top-greeter{
        background-image:url("/public/greeter-background.jpg");
        background-size: contain;
        height: 33vw;
    }
}


@media (min-width: 1400px ) {
    .top-greeter{
        background-size: cover;
    }
}
