body {

  background-color: #e6e6e6;
  .scssClass {
    background-color: rgb(55, 18, 243);
    text-align: center;
    padding: 20px 0;
    h2 {
      color: white;
      font-family: sans-serif;
    }
  }
}
//@media only screen and (max-width: 576px) {
//  body {
//    font-size: 20px !important;
//  }
//}

.custom-prev,
.custom-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.custom-prev:hover,
.custom-prev:focus,
.custom-next:hover,
.custom-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
}
.custom-prev:hover:before,
.custom-prev:focus:before,
.custom-next:hover:before,
.custom-next:focus:before
{
  opacity: 1;
}
.custom-prev.custom-disabled:before,
.custom-next.custom-disabled:before
{
  opacity: .25;
}

.custom-prev:before,
.custom-next:before
{
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-prev
{
  left: -45px;
}
[dir='rtl'] .custom-prev
{
  right: -45px;
  left: auto;
}
.custom-prev:before
{
  content: '←';
}
[dir='rtl'] .custom-prev:before
{
  content: '→';
}

.custom-next
{
  right: -45px;
}
[dir='rtl'] .custom-next
{
  right: auto;
  left: -45px;
}
.custom-next:before
{
  content: '→';
}
[dir='rtl'] .custom-next:before
{
  content: '←';
}
